@use "../../assets/sass/Variables";
@use "../../assets/sass/Mixins";

.contact_page {
  @include Mixins.flex-center;
  .box_container {
    width: 60vw;
    backdrop-filter: blur(7px);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.8)
    );
    border-radius: 10px;
    @include Mixins.flex-center;
    flex-flow: column nowrap;
    padding: 5rem;
    margin: 3rem;
    .image_container {
      img {
        width: 100%;
      }
      // background: url("../../assets/images/backgrounds/undraw_contact_us_15o2.svg");
      // background-size: 100%;
      // background-repeat: no-repeat;
      // width: 100%;
      // height: 500px;
    }
    .social_container {
      margin: 3rem;
      .social {
        @include Mixins.flex-center;
        flex-flow: row;
        margin: 1rem;
        a {
          display: grid;
          width: 100%;

          grid-template-columns: 4rem min-content auto;
          white-space: nowrap;
          flex-flow: row;
          text-decoration: none;
          color: black;
          &:visited {
            color: black;
          }
        }
        .info {
          margin: 1rem;
        }
        .linkIcon {
          @include Mixins.flex-center;
          width: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: Variables.$mobile-limit-size) {
  .contact_page {
    .box_container {
      backdrop-filter: none;
      width: 90vw;
      padding: 2rem;
      margin: 1rem;
      .social_container {
        margin: 3rem 0;
      }
    }
  }
}
