@use "../../assets/sass/Mixins";
@use "../../assets/sass/Variables";

.default_page {
  @include Mixins.flex-center;
  height: 100vh;

  .box_container {
    display: grid;
    width: 60vw;
    backdrop-filter: blur(7px);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.7)
    );
    grid-template-columns: 40% 60%;
    grid-template-rows: 30rem;
    border-radius: 10px;
    overflow: hidden;
    .image_container {
      //clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
      background: linear-gradient(
          to right top,
          rgba(0, 255, 200, 0.2),
          rgba(255, 255, 255, 0.5)
        ),
        url("../../assets/images/parsa-sabbar.png");
      // background: linear-gradient(
      //     to right,
      //     rgba(0, 255, 200, 0.2),
      //     rgba(255, 255, 255, 0.9)
      //   ),
      //   url("../../assets/images/parsa-sabbar.png");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      // border-radius: 50%;
      overflow: hidden;
      // img {
      //   background: linear-gradient(left to right, red, blue);
      //   filter: grayscale(100%);
      //   width: 70%;
      //   height: 100%;
      // }
    }
    .content {
      @include Mixins.flex-center;
      flex-flow: column nowrap;
      .main_info_container {
        margin-bottom: 4rem;
        h1 {
          margin: 0;
          font-size: 2.5rem;
        }
      }
      .button_container {
        min-height: 4rem;
        .links {
          width: 14rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .default_page {
    .box_container {
      width: 55rem;
    }
  }
}
@media screen and (max-width: 800px) {
  .default_page {
    .box_container {
      width: 90vw;
      grid-template-columns: 100%;
      backdrop-filter: none;
      align-items: center;
      justify-content: center;
      justify-items: center;
      grid-template-rows: auto auto;
      //@include Mixins.flex-center;
      .image_container {
        margin: 1rem;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
      }
      .content {
        .main_info_container {
          margin-bottom: 2rem;
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
