@use "../assets/sass/Variables";

.main_layout {
  .particles_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to right top,
        rgba(0, 255, 200, 0.2),
        rgba(255, 255, 255, 0.8)
      ),
      //url("../assets/images/backgrounds/artem-sapegin-b18TRXc8UPQ-unsplash.jpg");
      //url("../assets/images/backgrounds/altumcode-Y2m8QfYlpPY-unsplash.jpg");
      //url("../assets/images/backgrounds/1014.jpg");
      url("../assets/images/backgrounds/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .layout_content {
    h2 {
      text-align: center;
    }
  }
}
@media screen and (max-width: Variables.$mobile-limit-size) {
  .main_layout {
    .particles_container {
    }
  }
}
